<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:usesCleartextTraffic="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Open DXF and DWG documents directly from Android file managers. -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/dxf" />
                <data android:mimeType="application/x-dxf" />
                <data android:mimeType="image/vnd.dxf" />
                <data android:mimeType="application/dwg" />
                <data android:mimeType="application/x-dwg" />
                <data android:mimeType="application/acad" />
                <data android:mimeType="application/x-acad" />
                <data android:mimeType="application/x-autocad" />
                <data android:mimeType="application/autocad_dwg" />
                <data android:mimeType="image/vnd.dwg" />
                <!-- Some Android file providers label CAD files as generic binary data. -->
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- Also make izCAD available in the share sheet for a single CAD file. -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/dxf" />
                <data android:mimeType="application/x-dxf" />
                <data android:mimeType="image/vnd.dxf" />
                <data android:mimeType="application/dwg" />
                <data android:mimeType="application/x-dwg" />
                <data android:mimeType="application/acad" />
                <data android:mimeType="application/x-acad" />
                <data android:mimeType="application/x-autocad" />
                <data android:mimeType="application/autocad_dwg" />
                <data android:mimeType="image/vnd.dwg" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
